html {
  padding: 10px;
  margin: 10px;
  background-color: black;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button {
  background-color: #2B2B81;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  margin: 4px;
  border-radius: 20%;
  border: 1px solid white;
}
.row {
  margin: 4px;
}
.group {
  background-color: #1d1d20;
  text-align: center;
  border-radius: 20px;
  padding: 40px;
}
.title {
  color: white;
  font-size: 36px;
  font-weight: bold;
}